.navbar-default {
	background-image: none;
    background-color: #3071a9;
}

.navbar-default .navbar-brand {
    font-size: 24px;
    color: #FFFFFF;
}
.navbar-default .navbar-nav li a {
    color: #FFFFFF;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.title{
	margin-left: 150px;
}
.image{
	float :left;
}
.cover-little{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}


.cover-medium{
	width: 120px;
	height: 120px;
}
