<div>

	<div class="input-group stylish-input-group">
		<input type="text" class="form-control" placeholder="Recherche Youtube" ng-model="ytSearchCtrl.query" ng-change="ytSearchCtrl.search()">		<span class="input-group-addon">
			<button type="submit" ng-click="ytSearchCtrl.search()">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
		</span>
	</div>
	<br>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="video in ytSearchCtrl.videos">
			<span class="pull-right">
				<button class="btn" ng-click="ytSearchCtrl.add(video)">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</button>
			</span>

			<div ng-if="video.snippet.thumbnails.default.url">
				<img class="image" alt="{{video.snippet.title}}" ng-src="{{video.snippet.thumbnails.default.url}}" />
			</div>

			<div class="title">
				<h4 class="list-group-item-heading">{{video.snippet.title}}</h4>
				<p class="list-group-item-text">{{video.snippet.channelTitle}}</p>
				<p>{{video.id.videoId}}</p>
			</div>


		</li>
	</ul>


</div>