<span class="pull-right">
	<button class="btn " ng-click="add(music)" ng-if="!isPlaylist">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<button class="btn " ng-click="remove(music)" ng-if="(isPlaylist && !isCurrent)">
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
	</button>
</span>
<div class="cover-little image">
	<img class="cover-little image" ng-src="{{music.cover}}" ng-if="music.cover" alt="cover">
</div>


<h4 class="list-group-item-heading">
	{{music.artist.name}}<span ng-if="music.artist.name != ''"> - </span>{{music.title}}
</h4>
<p class="list-group-item-text">{{music.album.name}}</p>
<p class="list-group-item-text">{{music.duration}}</p>
<p class="list-group-item-text">&nbsp</p>